server:
  port: 8081
  servlet:
    session:
      persistent: true
      timeout: 15m

spring:
  config:
    activate:
      on-profile: dev

  application:
    admin:
      enabled: true
      jmx-name: org.springframework.boot:type=Admin,name=SpringApplication

  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        web-allow-others: true

  datasource:
    url: jdbc:h2:mem:test;MODE=MySQL;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE;INIT=CREATE SCHEMA IF NOT EXISTS core\;SET SCHEMA core
    username: root
    password:

  jpa:
    hibernate:
      ddl-auto: create-drop
    #generate-ddl: #it is insignificant as the above one takes care

management:
  endpoint:
    shutdown:
      access: unrestricted

  endpoints:
    web:
      exposure:
        include: env,beans,loggers,shutdown,threads

